USE [master]
GO
/****** Object:  Database [C:\CHRIS\APU\Y2 SEM2\WEB APPLICATIONS\ZERO TO AI\APP_DATA\DATABASE.MDF]    Script Date: 16-Mar-26 9:01:59 PM ******/
CREATE DATABASE [C:\CHRIS\APU\Y2 SEM2\WEB APPLICATIONS\ZERO TO AI\APP_DATA\DATABASE.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database', FILENAME = N'C:\chris\APU\Y2 Sem2\Web Applications\Zero to AI\App_Data\Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Database_log', FILENAME = N'C:\chris\APU\Y2 Sem2\Web Applications\Zero to AI\App_Data\Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\CHRIS\APU\Y2 SEM2\WEB APPLICATIONS\ZERO TO AI\APP_DATA\DATABASE.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\CHRIS\APU\Y2 SEM2\WEB APPLICATIONS\ZERO TO AI\APP_DATA\DATABASE.MDF]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 16-Mar-26 9:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[ActionType] [nvarchar](100) NULL,
	[ActionDetails] [nvarchar](255) NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 16-Mar-26 9:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CategoryID] [int] NOT NULL,
	[AuthorID] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[ImageURL] [nvarchar](200) NULL,
	[PublishDate] [datetime] NULL,
	[Description] [nvarchar](500) NULL,
	[Views] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 16-Mar-26 9:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseProgress]    Script Date: 16-Mar-26 9:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseProgress](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ArticleID] [int] NOT NULL,
	[CompletedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 16-Mar-26 9:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[AdminReply] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 16-Mar-26 9:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuizID] [int] NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[OptionA] [nvarchar](max) NOT NULL,
	[OptionB] [nvarchar](max) NOT NULL,
	[OptionC] [nvarchar](max) NOT NULL,
	[OptionD] [nvarchar](max) NOT NULL,
	[CorrectAnswer] [nvarchar](1) NOT NULL,
	[Marks] [int] NULL,
	[QuestionImage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizzes]    Script Date: 16-Mar-26 9:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizzes](
	[QuizID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[TimeLimit] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimulationRuns]    Script Date: 16-Mar-26 9:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimulationRuns](
	[RunID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SimulationID] [int] NOT NULL,
	[RunTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Simulations]    Script Date: 16-Mar-26 9:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simulations](
	[SimulationID] [int] IDENTITY(1,1) NOT NULL,
	[SimulationName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SimulationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProgress]    Script Date: 16-Mar-26 9:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProgress](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[QuizID] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[CompletedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16-Mar-26 9:01:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[ProfilePicture] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[IsBanned] [bit] NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] ON 

INSERT [dbo].[ActivityLogs] ([LogID], [UserName], [ActionType], [ActionDetails], [ActionDate]) VALUES (1, N'Kaemon', N'Add Question', N'Added a new question to Robotics', CAST(N'2026-03-09T21:34:57.680' AS DateTime))
INSERT [dbo].[ActivityLogs] ([LogID], [UserName], [ActionType], [ActionDetails], [ActionDate]) VALUES (2, N'Kaemon', N'Delete Question', N'Deleted a question from Robotics', CAST(N'2026-03-09T21:35:09.240' AS DateTime))
INSERT [dbo].[ActivityLogs] ([LogID], [UserName], [ActionType], [ActionDetails], [ActionDate]) VALUES (3, N'Kaemon', N'Delete Question', N'Deleted a question from Machine Learning', CAST(N'2026-03-11T11:41:08.940' AS DateTime))
SET IDENTITY_INSERT [dbo].[ActivityLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

SET IDENTITY_INSERT [dbo].[Articles] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Machine Learning', N' AI and Nueral Networks')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Robotics', N'Robots and Auomation')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Mixed Challenge', N'Questions from all domains')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseProgress] ON 

INSERT [dbo].[CourseProgress] ([ProgressID], [UserID], [ArticleID], [CompletedDate]) VALUES (1, 1, 1, CAST(N'2026-03-11T14:01:24.160' AS DateTime))
INSERT [dbo].[CourseProgress] ([ProgressID], [UserID], [ArticleID], [CompletedDate]) VALUES (2, 1, 2, CAST(N'2026-03-11T14:02:08.327' AS DateTime))
INSERT [dbo].[CourseProgress] ([ProgressID], [UserID], [ArticleID], [CompletedDate]) VALUES (3, 2, 1, CAST(N'2026-03-12T17:08:51.443' AS DateTime))
SET IDENTITY_INSERT [dbo].[CourseProgress] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [Message], [AdminReply], [Status], [Date]) VALUES (1, 1, N'The Machine Learning module on Neural Networks was amazing! Could we get more practice quizzes?', NULL, N'Unread', CAST(N'2026-03-10T17:23:09.857' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [Message], [AdminReply], [Status], [Date]) VALUES (2, 2, N'I found a small typo in the Robotics course. Otherwise, great content!', N'Thanks for catching that, Hao! We have updated the text.', N'Read', CAST(N'2026-03-07T17:23:09.857' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [Message], [AdminReply], [Status], [Date]) VALUES (3, 1, N'Is there any plan to add a simulation for drone pathfinding in the future?', NULL, N'Unread', CAST(N'2026-03-11T12:23:09.857' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionID], [QuizID], [QuestionText], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectAnswer], [Marks], [QuestionImage]) VALUES (1, 1, N'What is "Supervised Learning"?', N'Learning with labeled data', N'Learning without labels', N'Learning from mistakes', N'Learning from robots', N'A', 10, NULL)
INSERT [dbo].[Questions] ([QuestionID], [QuizID], [QuestionText], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectAnswer], [Marks], [QuestionImage]) VALUES (2, 1, N'Which library is best for data manipulation in Python?', N'NumPy', N'Pandas', N'Matplotlib', N'PyGame', N'B', 10, NULL)
INSERT [dbo].[Questions] ([QuestionID], [QuizID], [QuestionText], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectAnswer], [Marks], [QuestionImage]) VALUES (3, 1, N'What is "Overfitting"?', N'Model is too simple', N'Model performs well on training data but bad on new data', N'Model is too slow', N'Data is missing', N'B', 10, NULL)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Quizzes] ON 

INSERT [dbo].[Quizzes] ([QuizID], [Title], [CategoryID], [TimeLimit]) VALUES (1, N'Machine Learning', 1, 10)
INSERT [dbo].[Quizzes] ([QuizID], [Title], [CategoryID], [TimeLimit]) VALUES (2, N'Robotics', 2, 10)
INSERT [dbo].[Quizzes] ([QuizID], [Title], [CategoryID], [TimeLimit]) VALUES (3, N'Mixed Challenge', 3, 20)
SET IDENTITY_INSERT [dbo].[Quizzes] OFF
GO
SET IDENTITY_INSERT [dbo].[SimulationRuns] ON 

INSERT [dbo].[SimulationRuns] ([RunID], [UserID], [SimulationID], [RunTime]) VALUES (1, 1, 1, CAST(N'2026-03-12T16:24:25.347' AS DateTime))
INSERT [dbo].[SimulationRuns] ([RunID], [UserID], [SimulationID], [RunTime]) VALUES (2, 1, 2, CAST(N'2026-03-12T16:24:25.347' AS DateTime))
INSERT [dbo].[SimulationRuns] ([RunID], [UserID], [SimulationID], [RunTime]) VALUES (3, 1, 3, CAST(N'2026-03-12T16:24:25.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[SimulationRuns] OFF
GO
SET IDENTITY_INSERT [dbo].[Simulations] ON 

INSERT [dbo].[Simulations] ([SimulationID], [SimulationName], [Description], [CreatedAt], [Status]) VALUES (1, N'Sorting Visualizer', N'Visualize sorting algorithms step by step.', CAST(N'2026-03-12T16:24:25.343' AS DateTime), N'Active')
INSERT [dbo].[Simulations] ([SimulationID], [SimulationName], [Description], [CreatedAt], [Status]) VALUES (2, N'RL Grid World', N'Train a reinforcement learning agent using Q-learning.', CAST(N'2026-03-12T16:24:25.343' AS DateTime), N'Active')
INSERT [dbo].[Simulations] ([SimulationID], [SimulationName], [Description], [CreatedAt], [Status]) VALUES (3, N'Robot Path Planning', N'Simulate robot navigation using pathfinding algorithms.', CAST(N'2026-03-12T16:24:25.343' AS DateTime), N'Active')
SET IDENTITY_INSERT [dbo].[Simulations] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProgress] ON 

INSERT [dbo].[UserProgress] ([ProgressID], [UserID], [QuizID], [Score], [CompletedDate]) VALUES (1, 1, 3, 0, CAST(N'2026-03-11T12:37:39.943' AS DateTime))
INSERT [dbo].[UserProgress] ([ProgressID], [UserID], [QuizID], [Score], [CompletedDate]) VALUES (2, 1, 2, 30, CAST(N'2026-03-11T12:41:38.270' AS DateTime))
INSERT [dbo].[UserProgress] ([ProgressID], [UserID], [QuizID], [Score], [CompletedDate]) VALUES (3, 1, 2, 30, CAST(N'2026-03-11T12:42:09.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserProgress] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Username], [Email], [Role], [ProfilePicture], [CreatedAt], [IsBanned], [PasswordHash]) VALUES (1, N'Chan', N'XQ', N'Chris', N'member1@gmail.com', N'Member', N'1_file.jpg', CAST(N'2026-02-15T02:26:50.463' AS DateTime), 0, N'$2a$11$E0MHRRfRSVQe.CWzLGyZtOs8Vomh15kOus.JgCTlIAlgAzpEn13uO')
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Username], [Email], [Role], [ProfilePicture], [CreatedAt], [IsBanned], [PasswordHash]) VALUES (2, N'Chen', N'ZH', N'Hao', N'member2@gmail.com', N'Member', N'2_file.jpg', CAST(N'2026-02-15T02:35:37.860' AS DateTime), 0, N'$2a$11$75aSUFgEHK2y753AfgfN/Oduh9UZ1GLYcI1CQrH5t.Q1deOQeKnTK')
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Username], [Email], [Role], [ProfilePicture], [CreatedAt], [IsBanned], [PasswordHash]) VALUES (3, N'Kaemon', N'Ng', N'Kaemon', N'member3@zerotoai.com', N'Editor', N'3_file.jpg', CAST(N'2026-02-15T02:36:46.920' AS DateTime), 0, N'$2a$11$IpVBEg9GTBTGxd7uWtU5Qumiyv6Rdm6hsQYQsILjx0EXQXiUVoKS6')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tmp_ms_x__A9D105348D6688C8]    Script Date: 16-Mar-26 9:01:59 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[Articles] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Articles] ADD  DEFAULT (getdate()) FOR [PublishDate]
GO
ALTER TABLE [dbo].[Articles] ADD  CONSTRAINT [DF_Articles_Views]  DEFAULT ((0)) FOR [Views]
GO
ALTER TABLE [dbo].[CourseProgress] ADD  DEFAULT (getdate()) FOR [CompletedDate]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ('Unread') FOR [Status]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((10)) FOR [Marks]
GO
ALTER TABLE [dbo].[Quizzes] ADD  DEFAULT ((10)) FOR [TimeLimit]
GO
ALTER TABLE [dbo].[SimulationRuns] ADD  DEFAULT (getdate()) FOR [RunTime]
GO
ALTER TABLE [dbo].[Simulations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Simulations] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[UserProgress] ADD  DEFAULT (getdate()) FOR [CompletedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Member') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsBanned]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[CourseProgress]  WITH CHECK ADD FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Articles] ([ArticleID])
GO
ALTER TABLE [dbo].[CourseProgress]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quizzes] ([QuizID])
GO
ALTER TABLE [dbo].[Quizzes]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[SimulationRuns]  WITH CHECK ADD FOREIGN KEY([SimulationID])
REFERENCES [dbo].[Simulations] ([SimulationID])
GO
ALTER TABLE [dbo].[SimulationRuns]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserProgress]  WITH CHECK ADD FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quizzes] ([QuizID])
GO
ALTER TABLE [dbo].[UserProgress]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
USE [master]
GO
